* {
margin: 0px;
padding: 0px;
}
body {
	/*background: radial-gradient(#673AB7, #00968859);*/
	background: #a9a9a9;
    font-family: cursive;
	/*background-image: radial-gradient(#2166d2, #2a4b48);*/
    background-size: cover;
	background-position: unset;
	background-repeat: no-repeat;
}

.wrapper{
	/*outline: 10px solid #36ae87;*/
	min-height: 100vh;
	max-width:960px;
	margin:0px auto;
	position: relative;

}
.wellDone{
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    display: none;
    z-index:9;
}

.tryAgain{
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    display: none;
    z-index:9;
}
#header .logo h3 {
flex-grow: 1;
text-align: center;
font-family: sans-serif;
font-size: 30px;
color: #000;
margin-top:10px;
position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#header .logo {
margin: 0px auto;
display: flex;
/*align-items:center;*/
justify-content: flex-end;
padding-top:15px;
}
#header {
padding: 15px;
}

.innerWrapper{
padding: 20px;
display: flex;
justify-content: space-evenly;
}

.innerWrapper h2{
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
	left: -70px;
}

.instruction{
    text-align: center;
    color: #000;
    font-family: sans-serif;
    padding-top: 15px;
}
.questionBox{
	display: flex;
	justify-content: center; align-items: center;

}
.questionContainer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.compareBox p{
font-size: 22px !important;
}
.compareBox{
	width: 120px;
	height: 33px;
    background: #85868440;;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.drag{
    cursor: pointer;
    width: 120px;
    height: 23px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    padding: 7px 0px;
    background-image: url('../img/bg.png');
    background-size: 100% 100%;
}
.compareSign{	
	margin-bottom: 20px;
}

.compareContainer{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    /*justify-items: center;*/
    justify-content: space-between;
    margin-top: 50px;
}
.compareContainer p.button{
	margin-bottom:15px;
	/*background-image: linear-gradient(#07890d  , transparent );*/
}
.compareContainer img:active{
	opacity: 0.7;
}
.compareContainer img{
	width:120px;
	cursor:pointer;
}
.green{
    color: #000;
    background: linear-gradient(#0d771140, #07450985), url(../img/bg.png);
    background-size: 100% 100%;
}
.red{
    color: #000;
    background: linear-gradient(#f443366e, rgba(244, 67, 54, 0.25)), url(../img/bg.png);
    background-size: 100% 100%;
}
/*.compareBox .questBoxB p{color: #000;}*/
.questBoxA p{color:#000 !important;}
.questBoxB p{color:#000 !important;}
.quest p{
font-weight: bold;
    color: #000;
    font-family: monospace;
    font-size: 30px;
}



@media screen and (max-width: 600px) {
    #header .logo h3{
            left: 15px;
    transform: translateX(0);
    margin-top: 4px;font-size: 24px;
    }
.logoWrapper img{width:100px;}
/*#header .logo h3{font-size:20px;}*/
.instruction {font-weight: bold;
    font-size: 20px;}
.drag {width: 100px;}
.compareContainer img{width: 100px;}
.compareBox{width: 70px;}
.compareContainer{margin-left:15px;}
} 

@media only screen and (max-width: 480px) and (min-width: 450px)  {
.compareBox{width:100px;}
.logoWrapper img {
    width:125px;
}
}
/*  // media quesry end here...*/